@model UI.ViewModels.CountryViewModel
@{
    ViewBag.Title = "Create Country";
}

<div>&nbsp;</div>
<br />
<br />

<div class="container">
    @Html.Partial("_Form", Model)
</div>

@section scripts {
    <script type="text/javascript">
        $('form').submit(function () {
            $.post('/country/create', $(this).serializeArray(), function (data) {
                console.log(data);
            });
            return false;
        });

    </script>    
}